.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #f9f9f9; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin-top: 0;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  margin: 10px 0;
}

.header nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
}

.nav-link.active-link {
  background-color: #2b4618;
  color: white;
  border-radius: 10px;
}

.main-content {
  margin-left: 220px;
}
